<!DOCTYPE html>
<html>
    <head>
        <title>Sessions & Databases</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <style>
        form input {
            display: block;
            margin: 5%;
        }
        form input[type="submit"] {
            width: 100%;
        }
    </style>
    <body>
        <div id="container">
            {% if error_message != None %}
                <h2>Error: {{error_message}}</h2>
            {% endif %}

            <form method="post" action="/login">
            
                <input type="text" placeholder="Enter username" name="username" required>
                <input type="password" placeholder="Enter password" name="password" required>
                <input type="submit" value="register" name="mode">
                <input type="submit" value="login" name="mode">
            </form>
        </div>
        
    </body>
</html>